.contact__container {
  background: var(--colorWhite);
  padding: 1.5rem;
}

.contacto__h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--colorTitleContact);
  font-size: 3rem;
  font-weight: 550;
  text-transform: uppercase;
}

.contact__form,
.contact__form--group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__form--group {
  width: 100%;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root,
.contact__form--group .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

/* .contact__form--textarea {
  height: 70px;
  width: 100%;
  resize: none;
  border-color: #5b5151;
  outline-color: #66bb6a;
} */

#message {
  height: 100px;
}

.contact__btn {
  background-color: var(--backgroundBtnPrimary);
  color: var(--colorWhite);
  font-weight: 550;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.contact__btn:active {
  background-color: var(--backgroundBtnPrimaryActive);
}

.form__validation {
    color: var(--colorInputValidation);
    font-size: .8rem;
    align-self: start;
}

@media (min-width: 768px) {
  .contact__container {
    padding: 2.5rem;
  }
  .contact__form--group {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact__form {
    width: 80%;
  }

  .contact__btn {
    align-self: start;
  }

  #message {
    height: 80px;
  }
}
