#projects_section{
    background-color: var(--backroundProjectSection);
    min-height: 100vh;
}

#projects__section h1{
    background-color: var(--backroundProjectSectionH1);
    color: var(--colorWhite);
    text-align: center;
    margin: 0;
    padding: 1rem;
    font-size: 2.5rem;
}

#projects__actions{
    background-color: var(--backroundActions);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.contact__link{
    padding: .5rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    border: 1px solid var(--colorBorderAction);
    color: var(--colorIconAction);
    transition: color .5s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
.contact__link:hover{
    border: 1px solid var(--colorBtnActionHover);
    color: var(--colorBtnActionHover);
}