

#slider__container{
    margin: 0;
    padding: 1.5rem 4rem;
    background-color: var(--backgroundContainerProjects);
}

.slider__{
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
}

#slider__container .slick-list{
    width: 100%;
}

.slider__ .slick-dots{
    padding-bottom: 1rem;
}

.slider__ .slick-dots li {
    background-color: var(--colorWhite);
    border-radius: 1rem;
}


/* Padding de contenedor en responsive */

@media (max-width: 600px) {
    #slider__container{
        margin: 0;
        padding: 1rem 3rem;
        background-color: var(--colorProjectCardMediaQueries600);
    }
}

@media (max-width: 480px) {
    #slider__container{
        margin: 0;
        padding: 1rem 2.5rem;
        background-color: var(--colorProjectCardMediaQueries480);
    }
}  