.project__{
    text-decoration: none;
}

.project__card{
    margin: .5rem;
    background-color: #444;
    border: 1px solid transparent;
    min-width: 320px;
    max-height: 320px;
}
.project__card img{
    width: 100%;
    height: 100%;
}




