.services {
  padding: 1.5rem 0 3rem 0;
  background: #242629;
  color: white;
}

.services__h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
  font-weight: 550;
  color: #fff;
}

.services__card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__card--container {
  width: 300px;
  height: 380px;
  max-width: 400px;
  margin: 0px auto;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 1rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.services__container--img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-weight: 300;
}

.services__text {
  font-size: 14px;
}

.services__btn {
  width: 80%;
  max-width: 200px;
  padding: .3rem;
  font-size: 1.5rem;
  border: none;
  background-color: #2cb67d;
  transition: background-color .5s;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.services__btn:hover {
  background-color: #2cb67d81;
}

.services__title {
  font-size: 24px;
  font-weight: 500;
  height: 60px;
}
