.arrow-up {
  width: 35px;
  height: auto;
  color: var(--ColorArrowUp);
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.arrow-up:hover {
  color: var(--ColorArrowUpHover);
}

.arrow-up:active {
  color: var(--ColorArrowUpActive);
}
