#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;

}

body {
  background: #2D2D2D;
  font-family: 'Exo', sans-serif;
  font-size: 14px;
  color: white;
  margin: 0;
  padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 60vh; /*altura*/
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #2D2D2D;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



.imageContainer {
  margin-bottom: 10px;
}

.image {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  margin-top: 20px;

}



.text {
  font-size: 14px; /* Tamaño del texto */
}

.button {
  width: 80%; /* Ancho del botón, ajustado a un porcentaje */
  max-width: 200px; /* Ancho máximo del botón para evitar que se vuelva demasiado grande en pantallas grandes */
  padding: 10px;
  margin-top: 20px;
  font-size: 16px; /* Tamaño del texto del botón */
  border: none;
  background-color: #2CB67D;
  color: white;
  border-radius: 5px;
}

.button:hover {
  background-color: #7F5AF0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.description {
  font-size: 16px;
}

.card {
  width: 80%;
  height: 350px;
  max-width: 400px;
  margin: 20px auto;
  border: 1px solid #FFFFFF;
  border-radius: 10%;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 100;
}

.subtitle {
  font-size: 18px;
}

.titlePrincipal {
  font-size: 50px;
  text-align: center;
  font-weight: 500;

}