#technologies__container{
    padding: 6rem 0;
    width: 100%;
    background-color: var(--backgroundTechnologies);
}

.technology__container{
    width: 100%
}

.technology__logo{
    width: 8rem;
}

/* Add media queries below */
@media (max-width: 765px) {
    .technology__logo{
        width: 6rem;
    }
}

@media (max-width: 480px) {
    .technology__logo{
        width: 4rem;
    }
}