* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Exo';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}



::-webkit-scrollbar {
	width: 12px;
  }
  
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  
  /* Color de la manija/dragger de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
	background: #888;
  }
  
  /* Estilo de la esquina del área de desplazamiento */
  ::-webkit-scrollbar-corner {
	background: #f1f1f1;
  }
  