
.container{
    background-image: url(/public/img/Inicio/back.png) ;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    margin: 0;
   
}
.image{
    background: transparent;
    object-fit: cover;
    height: 110px;
    width: 80px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.menu__link{
    text-decoration: none;
    color: #ffffff;
    margin: 0px 15px;
}
.nav{
    list-style: none;
    display: flex;
    margin: 0px 15px;
}
button{
    font-weight: bold;
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.menu__link:hover{
    border-bottom: solid #2CB67D 3px;
    transition: 0.1s;
    padding-bottom: 3px;
}

button:hover{
    transform: scale(1.1);
    transition: 0.5s;
}


/* Description*/
.description{
    margin-left:40px;
    display: flex;
}

.info{
    width: 50%;
}

h1{
    color: #ffffff;
    font-size: 2.5rem;
    margin-left:35px;

}
h3{
    margin-top: 20px;
    color: #ffffff;
}
.pic{
    height: 350px;
    width: 50%;
    object-fit: contain;
}
p{
    color: #ffffff;
    width: 100%;
    font-size: 1.2rem;
}
.btn-desc{
    margin-top: 20px;
    background-color: #2CB67D;
    padding: 15px 30px;
    border-radius: 2%;
}