.footer {
  background-color: var(--backgroundFooter);
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
}

.footer__copy {
  color: var(--colorWhite);
  font-size: 0.9rem;
  font-weight: 550;
  margin: 1rem 0;
}

.footer__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  gap: 2rem;
}

.footer__social li a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer__social--icon {
  color: var(--colorIconsFooter);
  font-size: 1.5rem;
}

#footer__data{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

#footer__payments{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 45%;
}

#footer__payments ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 1rem 0 0 0;
}

#footer__payments li{
  width: 10%;
}

#footer__payments li img{
  width: 100%;
}

#footer__terms{
  width: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#footer__terms--link{
  color: var(--colorFontsFooter);
  text-decoration: none;
  font-size: 1.5rem;
  transition: color .5s;
}

#footer__terms--link:hover{
  color: var(--colorHoverLink);
}

@media screen and (max-width: 480px) {
  .footer__copy {
    font-size: 1rem;
  }

  .footer__social--icon {
    font-size: 1.8rem;
  }
  #footer__payments li{
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .footer__copy {
    font-size: 1.3rem;
  }

  .footer__social--icon {
    font-size: 2rem;
  }
  #footer__data{
    justify-content: center;
  }
  #footer__terms{
    justify-content: flex-start;
  }
  #footer__terms--link{
    font-size: 1.5rem;
  }
  #footer__payments li{
    width: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 1rem 2rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .footer__copy {
    font-size: 1.2rem;
  }

  .footer__social--icon {
    font-size: 1.8rem;
  }
  #footer__data{
    justify-content: center;
    text-align: center;
  }
  #footer__payments, #footer__payments{
    width: 100%;
    align-items: center;
  }
  #footer__payments ul{
    width: 100%;
    justify-content: center;
  }
  #footer__terms{
    width: 100%;
    justify-content: flex-start;
  }
  #footer__payments li{
    width: 15%;
  }
  #footer__terms--link{
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px){ /* Más de 1024px */
  .footer {
    padding: 1rem 2rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .footer__copy {
    font-size: 1.2rem;
  }

  .footer__social--icon {
    font-size: 1.8rem;
  }
  #footer__payments{
    width: 45%;
  }
  #footer__terms{
    width: 45%;
  }
  #footer__payments li{
    width: 15%;
  }
}

