.app-container {
    margin: 0;
    padding: 0;
    font-family: 'Exo', Arial, sans-serif;
    background-color: #fff;
    color: #2D2D2D;
}

h1 {
    text-align: center;
}

.header {
    background-color: #fff;
    color: #2D2D2D;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.header a {
    color: #2D2D2D;
    background-color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.about-container {
    margin: 20px;
    background-color: #fff; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.about-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #2D2D2D; 
}

.about-container p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #2D2D2D;
}

.about-container button {
    background-color: #fff; 
    color: #2CB67D; 
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.underline{
    width: 50%;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .about-container {
        padding: 15px; /* Adjust padding for smaller screens */
    }

    .about-container h1 {
        font-size: 30px; /* Adjust font size for smaller screens */
    }

    .about-container p {
        font-size: 18px; /* Adjust font size for smaller screens */
        margin-bottom: 20px; /* Adjust margin for smaller screens */
    }

    .about-container button {
        padding: 8px 20px; /* Adjust padding for smaller screens */
        font-size: 18px; /* Adjust font size for smaller screens */
    }

    .underline {
        width: 50%; /* Adjust width for smaller screens */
        margin-top: 5px;
        border: 1px solid #2D2D2D;
    }
}

@media only screen and (max-width: 480px) {
    .about-container h1 {
        font-size: 24px; /* Further adjust font size for smaller screens */
    }

    .about-container p {
        font-size: 16px; /* Further adjust font size for smaller screens */
        margin-bottom: 15px; /* Further adjust margin for smaller screens */
    }

    .about-container button {
        padding: 8px 15px; /* Further adjust padding for smaller screens */
        font-size: 16px; /* Further adjust font size for smaller screens */
    }
}

