.about__section__container {
    margin: 0;
    padding: 0;
    font-family: 'Exo', Arial, sans-serif;
    background-color: #F5F5F5;
    color: #222;
}

.header {
    background-color: #F5F5F5;
    color: #2D2D2D;
    padding: 2rem 1.5rem;
    font-size: 3rem;
    font-weight: 550;
    display: flex;
    justify-content: center;
    text-align: center;
}

.about-container {
    margin: 1.5rem;
    background-color: #F5F5F5; 
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.about-container p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #2D2D2D;
}

.about-container .about__link{
    background-color: #F5F5F5; 
    color: #2CB67D; 
    border: none;
    padding: .5rem 2rem;
    cursor: pointer;
    font-size: 1.5rem;
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s;
}

.about__link:hover{
    border-bottom: 1px solid #2CB67D;
}

.underline{
    margin: .5rem 1rem;
}



/* Responsive styles */
@media only screen and (max-width: 768px) {
    .about-container {
        padding: 15px; /* Adjust padding for smaller screens */
    }

    .about-container h1 {
        font-size: 30px; /* Adjust font size for smaller screens */
    }

    .about-container p {
        font-size: 18px; /* Adjust font size for smaller screens */
        margin-bottom: 20px; /* Adjust margin for smaller screens */
    }

    .about-container button {
        padding: 8px 20px; /* Adjust padding for smaller screens */
        font-size: 18px; /* Adjust font size for smaller screens */
    }
}

@media only screen and (max-width: 480px) {
    

    .about-container h1 {
        font-size: 24px; /* Further adjust font size for smaller screens */
    }

    .about-container p {
        font-size: 16px; /* Further adjust font size for smaller screens */
        margin-bottom: 15px; /* Further adjust margin for smaller screens */
    }

    .about-container button {
        padding: 8px 15px; /* Further adjust padding for smaller screens */
        font-size: 16px; /* Further adjust font size for smaller screens */
    }
}

@media (max-width: 400px) { 
    .header {
        font-size: 2.5rem;
    }
}