.card-description .card__data{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.card-description .card__links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: .5rem 0;
}

.card-description .card__links a{
    padding: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    box-shadow: 0 0 0 var(--backgroundTransparent);
    transition: box-shadow .5s;
}

.card-description .card__links a:hover{
    box-shadow: 0 0 .5rem var(--colorBoxShadowBtnCardQSSHover);
}

.icon__card--dev {
    color: var(--colorIconAbout);
}