.containerStyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__links {
    margin-left: 20px;
    color: var(--colorWhite);
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--backgroundTransparent);
    transition: border-bottom .5s;
}

.header__links:hover, .header__links--mt:hover {
    border-bottom: solid var(--backgroundBtnPrimaryHover) 2px;
    transition: 0.1s;
}

.header__links--mt {
    color: var(--colorBlack);
}

