/* .icon{
	width: 120px;
	height: 120px;
	color: red;
}

.slick-next{
	display: none !important;
}

.react{
	color: #61DAFB;
}

.css{
	color: #006BC0;
}

.bootstrap{
	color: #702DF6;
}

.mongodb{
	color: #14c400;
}

.html{
	color: #FF4B00;
}

.nodejs{
	color: #026E00;
}

.javascript{
	color: #FFDF00;
	background-color: black;
}

.figma{
	color: black;
}

.axios{
	color: #813f90;
}

.sass{
	color: #CF649A;
}

.postgre{
	color: #5B84A6;
}

.redux{
	color: #7248B6;
}

.sequelize{
	color: #3C76C3;
}

.tailwind{
	color: #0EA5E9;
}

.mongoose{
	color: #880000;
}

.mysql{
	color: #00718B;
}

.django{
	color: #000000;
}

.stock{
	font-size: 2em;
	text-align: center;
}


@media (max-width: 1024px) {
	.icon{
		width: 120px;
		height: 120px;
		color: red;
	}
	.slick-next{
		display: none !important;
	}
	
	.react{
		color: #61DAFB;
	}
	
	.css{
		color: #006BC0;
	}
	
	.bootstrap{
		color: #702DF6;
	}
	
	.mongodb{
		color: #14c400;
	}
	
	.html{
		color: #FF4B00;
	}
	
	.nodejs{
		color: #026E00;
	}
	
	.javascript{
		color: #FFDF00;
		background-color: black;
	}
	
	.figma{
		color: black;
	}
	
	.axios{
		color: #813f90;
	}
	
	.sass{
		color: #CF649A;
	}
	
	.postgre{
		color: #5B84A6;
	}
	
	.redux{
		color: #7248B6;
	}
	
	.sequelize{
		color: #3C76C3;
	}
	
	.tailwind{
		color: #0EA5E9;
	}
	
	.mongoose{
		color: #880000;
	}
	
	.mysql{
		color: #00718B;
	}
	
	.django{
		color: #000000;
	}
	
	.stock{
		font-size: 2em;
		text-align: center;
	}
}
  
  Estilos para tabletas
  @media (max-width: 768px) {
	.icon{
		width: 100px;
		height: 100px;
		color: red;
	}
	.slick-next{
		display: none !important;
	}
	
	.react{
		color: #61DAFB;
	}
	
	.css{
		color: #006BC0;
	}
	
	.bootstrap{
		color: #702DF6;
	}
	
	.mongodb{
		color: #14c400;
	}
	
	.html{
		color: #FF4B00;
	}
	
	.nodejs{
		color: #026E00;
	}
	
	.javascript{
		color: #FFDF00;
		background-color: black;
	}
	
	.figma{
		color: black;
	}
	
	.axios{
		color: #813f90;
	}
	
	.sass{
		color: #CF649A;
	}
	
	.postgre{
		color: #5B84A6;
	}
	
	.redux{
		color: #7248B6;
	}
	
	.sequelize{
		color: #3C76C3;
	}
	
	.tailwind{
		color: #0EA5E9;
	}
	
	.mongoose{
		color: #880000;
	}
	
	.mysql{
		color: #00718B;
	}
	
	.django{
		color: #000000;
	}
	
	.stock{
		font-size: 0.9em;
		text-align: center;
	}

  }
  
  @media (max-width: 320px) {
	.icon{
		width: 45px;
		height: 45px;
		color: red;
	}
	.slick-next{
		display: none !important;
	}
	
	.react{
		color: #61DAFB;
	}
	
	.css{
		color: #006BC0;
	}
	
	.bootstrap{
		color: #702DF6;
	}
	
	.mongodb{
		color: #14c400;
	}
	
	.html{
		color: #FF4B00;
	}
	
	.nodejs{
		color: #026E00;
	}
	
	.javascript{
		color: #FFDF00;
		background-color: black;
	}
	
	.figma{
		color: black;
	}
	
	.axios{
		color: #813f90;
	}
	
	.sass{
		color: #CF649A;
	}
	
	.postgre{
		color: #5B84A6;
	}
	
	.redux{
		color: #7248B6;
	}
	
	.sequelize{
		color: #3C76C3;
	}
	
	.tailwind{
		color: #0EA5E9;
	}
	
	.mongoose{
		color: #880000;
	}
	
	.mysql{
		color: #00718B;
	}
	
	.django{
		color: #000000;
	}
	
	.stock{
		font-size: 0.6em;
		text-align: center;
	}
  } */