/* Projects section */
.projects__section {
    height: 100%;
    background-color: #242629;
    padding: 20px;
}

/* Title */
.projects__title {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #F5F5F5;
    margin-bottom: 32px;
}

/* Projects container */
.projects__container {
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    /* Projects section */
    .projects__section {
        padding: 40px 20px 20px 20px;
    }

    /* Title */
    .projects__title {
        font-size: 48px;
    }
}

@media screen and (min-width: 1024px) {
    /* Projects section */
    .projects__section {
        padding: 40px 20px 20px 50px;
    }
}